<p>Heto ka na naman<br>
Kumakatok sa'king pintuan<br>
Muling naghahanap ng makakausap<br>
At heto naman ako<br>
Nakikinig sa mga kwento mong paulit-ulit lang<br>
Nagtitiis kahit nasasaktan</p>


<p>Ewan ko bakit ba<br>
Hindi ka pa nadadala?<br>
Hindi ba't kailan lang nang ika'y iwanan nya?<br>
At ewan ko nga sa'yo<br>
Parang balewala ang puso ko<br>
Ano nga bang meron siya<br>
Na sa akin ay 'di mo makita?</p>

<p>Kung ako na lang sana ang 'yong minahal<br>
'Di ka na muling mag-iisa<br>
Kung ako na lang sana ang 'yong minahal<br>
'Di ka na muling luluha pa<br>
'Di ka na mangangailangan pang humanap ng iba<br>
Narito ang puso ko, naghihintay lamang sa iyo</p>

<p>Heto pa rin ako<br>
Umaasang ang puso mo<br>
Baka sakali pang ito'y magbago<br>
Narito lang ako<br>
Kasama mo buong buhay mo<br>
Ang kulang na lang<br>
Mahalin mo rin akong lubusan</p>

<p>Kung ako na lang sana ang 'yong minahal<br>
'Di ka na muling mag-iisa<br>
Kung ako na lang sana ang 'yong minahal<br>
'Di ka na muling luluha pa<br>
'Di ka na mangangailangan pang humanap ng iba<br>
Narito ang puso ko, naghihintay lamang sa iyo<br>
Kung ako na lang sana, ohh-ooh-ooh</p>

<p>Kung ako na lang sana ang 'yong minahal<br>
'Di ka na muling mag-iisa<br>
Kung ako na lang sana ang 'yong minahal<br>
'Di ka na muling luluha pa<br>
'Di ka na mangangailangan pang humanap ng iba<br>
Narito ang puso ko, naghihintay lamang sa iyo<br>
Kung ako na lang sana</p>
