@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar-toggler-icon {
    border-color: #008a101a;
}

#fullscreenMenu {
    display: flex;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-100%);
}

#fullscreenMenu.show {
  opacity: 1;
  transform: translateY(0);
}

#fullscreenMenu .navbar-nav {
  list-style: none;
  text-align: center;
}

#fullscreenMenu .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.navbar-toggler-icon {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
}

.navbar-nav {
    margin-top: 0;
    margin-left: 10px;
}

.navbar-nav .nav-item a {
    font-size: 15px;
}

.collapse .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    margin-left: 10px;
}

.dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-10px);
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
  #fullscreenMenu {
    padding: 0 20px;
  }
  .navbar-nav {
    margin-left: 0;
  }
}

